
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.js"></script>
    <script type="text/javascript" src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment-with-locales.js"></script>
    <script src="//cdn.rawgit.com/indrimuska/angular-moment-picker/master/dist/angular-moment-picker.min.js"></script>
    <link href="//cdn.rawgit.com/indrimuska/angular-moment-picker/master/dist/angular-moment-picker.min.css" rel="stylesheet">
</head>
<body>
    <div ng-app="ngApp" ng-controller="HomeController">
        <table class="table">
            <tr>
                <th>Sr no</th>

                <th>Email</th>

                <th>Password</th>

                <th>Name</th>

                <th>Address</th>

                <th>City</th>

                <th>Actions</th>
            </tr>
            <tr ng-repeat="e in record" ng-class-even="'even'" ng-class-odd="'odd'">
                <th>{{e.Sr_no}}</th>
                <th>{{e.Email}}</th>
                <th>{{e.Password}}</th>
                <th>{{e.Name}}</th>
                <th>{{e.Address}}</th>
                <th>{{e.City}}</th>
                <th><a href="/Home/update_data?id={{e.Sr_no}}">Update</a></th>
                <th><a ng-click="deleterecord(e.Sr_no)">Delete</a></th>
            </tr>
        </table>
        <div ng-app="ngApp" ng-controller="HomeController">
            <div uib-timepicker ng-model="myTime" hour-step="1" minute-step="1" show-meridian="false">
            </div>
            <pre class="alert alert-success">Time is: {{myTime | date:'HH:mm' }}</pre>
        </div>

    </div>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/ScriptsNG/Module/App.js"></script>
    <script src="~/ScriptsNG/Controller/Home/HomeAngularJs.js"></script>
    <script src="~/ScriptsNG/Service/Home/HomeService.js"></script>
</body>
</html>
